
@{
    ViewBag.Title = "Index";
}
<div class="col-md-3"></div>
<div class="col-md-6" style="text-align:center;height:100%">
    <div id="resume_window" class="hidden-md hidden-sm resume-initial text-center">
        <object id="embed-resume" class="text-center" type="application/pdf" data="/Doc_Resources/Ben Pister's Resume.pdf" width="800" height="950"></object>
    </div>
</div>
<div class="col-md-3"></div>
