html, body {
    position:relative;
    min-height:100%;
    width:100%;
    padding-top:80px;
}

.bck_img{
    background-image:url(/Images/Home_Background_Slate.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.8;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0px;
    /*z-index:-1;*/
}

.foregnd{
    color:black;
    font-weight: 700;
}

.center-align{
    text-align:center;
}

.blue_link{
    text-decoration:underline;
    color:aliceblue;
}

.black-link{
    text-decoration:underline;
    color:black;
}

.my_header{
    font-size:16px;
    font-weight:800;
    text-decoration:underline;
}

.my_footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:40px;
    width:100%;
    border-top:2px solid white;
    text-align:center;
    padding: 10px 0px 0px 0px;
}

.scroll-xy{
    overflow-x:hidden;
    overflow-y:visible;
}

.pad-left-20{
    margin-left:50px;
   
}

.pad-left-100{
    margin-left:100px;
}

.pad-bottom-50{
     margin-bottom:50px;
}

.pad-bottom-40{
    margin-bottom:40px;
}

.pad-bottom-30{
    margin-bottom:30px;
}

.pad-bottom-20{
    margin-bottom:20px;
}

.min-height-100{
    min-height:100px !important;
}

.font-600{
    font-weight:600;
}
.font-700{
    font-weight:700;
}

.font-600-black{
    font-weight:600;
    color:#030303;
}

.hidden-sm, .hidden-md, .hidden-xs{
    margin-bottom:0px;
}

.btn{
    width:80%
}

.card-gray{
    background-color:#e3e1df;
    height:100% !important;
    opacity:0.4;
}

div.back-div::before{
    display:block;
    z-index:-1;
    height:100%;
    background:#e3e1df;
    opacity:0.4
}
