html, body {
    /*padding-top:50px;*/
}

.bck_img{
    background-image:url(/Images/PhotoFromSwingingBridge.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    opacity:1.0;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0px;
}

.bck_img_photo_hobby{
    background-image:url(/Images/Strahl_Lake.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    opacity:1.0;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0px;
}

.arithmetic-bckgnd{
    background-color:lightgray;
}

.row{
    margin: 0px !important;
}

.foregnd{
    color:black;
    font-weight: 700;
    opacity:0.6;
}

.center-align{
    text-align:center;
}

.blue_link{
    text-decoration:underline;
    color:aliceblue;
}

.black-link{
    text-decoration:underline;
    color:black;
}

.my_header{
    font-size:22px;
    font-weight:800;
    text-decoration:underline;
    color:#030303;
}

.my_footer{
    height:80px;
    width:100%;
    /*border-top:2px solid white;*/
    background-color:darkgray;
    text-align:center;
    opacity: 0.8;
}

.scroll-xy{
    overflow-x:hidden;
    overflow-y:visible;
}

.pad-left-20{
    margin-left:20px;
}

.pad-left-50{
    margin-left:50px;
}

.pad-left-100{
    margin-left:100px;
}

.pad-bottom-50{
     margin-bottom:50px;
}

.pad-bottom-40{
    margin-bottom:40px;
}

.pad-bottom-30{
    margin-bottom:30px;
}

.pad-bottom-20{
    margin-bottom:20px;
}

.pad-top-10{
    margin-top:10px;
}

.min-height-100{
    min-height:100px !important;
}

.font-600{
    font-weight:600;
}
.font-700{
    font-weight:700;
}

.font-600-black{
    font-weight:600;
    color:#030303;
}

.font-700-black{
    font-weight:700;
    color:#030303;
}

.message-font{
    font-size:18px;
    font-weight:600;
    color:#030303;
}

.hidden-sm, .hidden-md, .hidden-xs{
    margin-bottom:0px;
}

.btn{
    width:100%
}
.center-btn-text{
    padding:8px 30px 8px 10px !important;
}

.pad-top-nav{
    /*padding:0px 20px 0px 20px !important;*/
    margin:0px 0px 0px 0px;
}

.card-background{
    background-color:#e3e1df;opacity:0.6;height:220px;
}

.resume-initial{
    background-color:#e3e1df;
    opacity:0.8;
}

.hide-element{
    
}
