body {
    text-align:center !important;
}

.arithmetic_btn{
    margin:0px 0px 10px 0px;
}

.label-space{
    margin-top:20px;
    text-align:left;
}

.level-buttons{
    height:28px !important;
    padding: 0px 10px 0px 15px;
}

.btn-add{
    background-color:green;
}

.btn-sub{
    background-color:green;
}

.btn-mul{
    background-color: darkred;
}

.btn-div{
    background-color:darkred;
}

.btn-operation{
    color:white;
    font-weight:700;
    font-size:14pt;
}

#selectedModeFeedback{
    margin-left: 25px;
}

#num1, #num2{
    text-align:right !important;
}

.sign-align{
    vertical-align:text-bottom;
    text-align:right;
}

.arithmeticWeight{
    font-weight:800;
}

legend{
    color:black;
    font-weight:bold;
    font-size:14px;
    text-align:left;
    padding-bottom:0px 0px 0px 10px;
}

fieldset{
    border:1px solid black;
    padding-bottom:0px 0px 0px 10px;
}

.no-line-break{
    white-space:nowrap;
}

.level-instruction-table{
    display:inline;
    margin:0 auto !important;
    float:none !important;
}

.underline{
    text-decoration:underline;
}

.keyboard-shortcuts-header{
    text-align:center;
    font-weight:700;
}

.shortcut-color{
    color:yellow;
}