
<head>
    <link href="~/Content/HomeLayout.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/Doc_View.js"></script>
</head>
@{
    ViewBag.Title = "Index";
}

<div class="bck_img">
    
</div>
<div class="row scroll-xy">
    <div class="col-md-3 foregnd center-align">
        <h5 class="foregnd my_header">Information</h5>
        <div class="pad-bottom-20"><a href="https://www.linkedin.com/in/ben-pister-3b91883b" target="_blank" class="blue_link">LinkedIn</a></div> <br />
        <div><a href="javascript:display_document_view('resume_window', 'resume_link');" id="resume_link" class="blue_link">View Resume</a></div> <br />
        <div>@Html.ActionLink("Hobbies and Interests", "Hobbies", "Interesting_Info", null, new { @class = "blue_link" })</div>
    </div>
    <div class="col-md-6 foregnd center-align">
        <h5 class="foregnd my_header">About Ben Pister</h5>
        <div>Ben is a software developer finishing his degree at Indiana University Southeast</div>
        <div>and interning at ZirMed in Louisville, KY, USA</div>
        <div id="resume_window" ></div>
    </div>
    <div class="col-md-3 foregnd center-align">
        <h5 class="foregnd my_header">Contacts</h5>
        <div>
            ben.pister@gmail.com <br />
            and <br />
            wbpister@ius.edu
        </div>
    </div>
</div>

<div class="navbar navbar-fixed-bottom">
    <footer class="my_footer">
        @Html.Partial("FooterView")
        @*@Html.Partial("_Analytics")*@
    </footer>
</div>



