@model string
<head>
    <link href="~/Content/HomeLayout.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/Doc_View.js"></script>
</head>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="bck_img"></div>
    <br />
    
    <div class="col-md-4 card-background" style="height:280px">
        <h5 class="my_header" style="color:teal">About Ben Pister</h5>
        <div class="message-font" style="color:teal">
            I am a software developer in the area of Louisville, KY, USA
            <br />
            I have completed internships in Web Development with Oasis Technologies Group and ZirMed, 
            both of which are medical software companies in Louisville, KY.
            I also worked as a Software Development contractor for an additional 15 months.
        </div>
    </div>
</div>
    


<br /><br /><br /><br />






