
<head>
    <link href="~/Content/HomeLayout.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/MyInformation_Nav.js"></script>
</head>
@{
    ViewBag.Title = "Index";
}

<div class="bck_img">
    
</div>
<div>
    <div class="col-md-3 foregnd center-align">
        <h5 class="foregnd my_header">Information</h5>
        <a href="https://www.linkedin.com/in/ben-pister-3b91883b" target="_blank" class="blue_link" >LinkedIn</a> <br />
        <a href="javascript:display_document('resume_window', 'resume_link');" id="resume_link" class="blue_link">View Resume</a>
        
        <footer class="my_footer">
            @Html.Partial("FooterView")
            @*@Html.Partial("Analytics")*@
        </footer>
    </div>
    <div class="col-md-6 foregnd center-align">
        <h5 class="foregnd my_header">About Ben Pister</h5>
        <div>I am a software developer finishing my degree at Indiana University Southeast</div>
        <div>and interning at ZirMed in Louisville, KY, USA</div>
        <div id="resume_window" ></div>
    </div>
    <div class="col-md-3 foregnd center-align">
        <h5 class="foregnd my_header">Contacts</h5>
        <div>
            ben.pister@gmail.com <br />
            and <br />
            wbpister@ius.edu
        </div>
    </div>

    
</div>



