

@{
    ViewBag.Title = "Hobbies";
}

<div class="bck_img_photo_hobby">

</div>
<h2 class="text-center font-700">Hobbies</h2>

<div class="row table-bordered card-gray">
    <div class="card-gray"></div>
    <div class="col-md-6" style="border-right:2px solid white;background-color:#e3e1df;opacity:0.6;height:440px">
        <h4 class="text-center my_header">Indoor</h4>
        <br />
        <div class="pad-left-20 message-font">Programming Languages</div>
        <ul>
            <li class="pad-left-100 message-font"><strong>C#</strong></li>
            <li class="pad-left-100 message-font">JavaScript</li>
            <li class="pad-left-100 message-font">CSS</li>
            <li class="pad-left-100 message-font">HTML</li>
            <li class="pad-left-100 message-font">SQL</li>
            <li class="pad-left-100 message-font">Java</li>
            <li class="pad-left-100 message-font">Scala</li>
            <li class="pad-left-100 message-font">C++</li>
            <li class="pad-left-100 message-font">Visual Basic</li>
        </ul>
    </div>

    <div class="col-xs-12">
        <button id="my-tester-button" class="tester-button black_link btn btn-default">

        </button>
    </div>

    <div id="show-me" class="col-xs-12" style="height:100px">
        <div style="color:white">Here is some text to display</div>
    </div>
    
    <div class="col-md-6" style="background-color:#e3e1df;opacity:0.6;height:440px">
        <h4 class="text-center my_header">Outdoor</h4>
        <br />
        <div class="pad-left-20 message-font">Hiking</div>
            <ul>
                <li class="pad-left-100 message-font">Adirondacks (New York)</li>
                <li class="pad-left-100 message-font">Presidential Range (New Hampshire)</li>
                <li class="pad-left-100 message-font">Red River Gorge (Eastern KY)</li>
                <li class="pad-left-100 message-font">Brown County State Park (Brown County, IN)</li>
                <li class="pad-left-100 message-font">Harrison Crawford Forest (Harrison/Crawford Counties, IN)</li>
            </ul>
        
        <div class="pad-left-20 message-font">Photography</div>
            <ul>
                <li class="pad-left-100 message-font">Outdoor photography is one of my releases and actually had much to do with 
                how I transitioned into software development.  My photography locations are anywhere I hike.</li>
            </ul>
    </div>
</div>

<div class="row" style="background-color:#e3e1df;opacity:0.6;height:300px">
    <div class="col-md-12 table-bordered min-height-100"><div class="pad-left-20 my_header">Development Projects</div></div>
    <ul>
        <li class="pad-left-100 message-font">C# Web Project - developed to allow food truck vendors to track locations and monitor success.</li>
        <li class="pad-left-100 message-font">SQL Server Management Studio database development</li>
        <li class="pad-left-100 message-font">C# Windows forms</li>
        <li class="pad-left-100 message-font">Java search algorithm projects</li>
        <li class="pad-left-100 message-font">MySQL Database development</li>
    </ul>
</div>

<br /><br /><br />



