

@{
    ViewBag.Title = "Hobbies";
}

<div class="bck_img">

</div>
<h2 class="text-center font-700">Hobbies</h2>

<div class="row table-bordered card-gray">
    <div class="card-gray"></div>
    <div class="col-md-6" style="border-right:2px solid white">
        <h4 class="text-center font-700-black">Indoor</h4>
        <br />
        <div class="pad-left-20 font-600-black">Programming Languages</div>
        <ul>
            <li class="pad-left-100 font-600-black"><strong>C#</strong></li>
            <li class="pad-left-100 font-600-black">JavaScript</li>
            <li class="pad-left-100 font-600-black">CSS</li>
            <li class="pad-left-100 font-600-black">HTML</li>
            <li class="pad-left-100 font-600-black">SQL</li>
            <li class="pad-left-100 font-600-black">Java</li>
            <li class="pad-left-100 font-600-black">Scala</li>
            <li class="pad-left-100 font-600-black">C++</li>
            <li class="pad-left-100 font-600-black">Visual Basic</li>
        </ul>

        @*<div class="pad-left-20">Eateries</div>*@
    </div>
    
    <div class="col-md-6">
        <h4 class="text-center font-700-black">Outdoor</h4>
        <br />
        <div class="pad-left-20 pad-bottom-50 font-600-black">Hiking</div>
        <div class="pad-left-20 font-600-black">Photography</div>
    </div>

    @*<h5 class="text-center"><a href="javascript:restaurant_menu('Eatery_Menu', ViewData.ModelMetadata.Properties.cheddarsMenu);">Cheddars</a></h5>*@
</div>

<div class="row">
    <div class="col-md-12 table-bordered min-height-100"><div class="pad-left-20 font-600-black">Development Projects</div></div>
</div>
<div class="row">
    <div class="col-md-12" id="Eatery_Menu">

    </div>
</div>

