

@{
    ViewBag.Title = "Hobbies";
}

<div class="bck_img">

</div>
<h2 class="text-center">Hobbies</h2>

<div class="row">
    <div class="col-md-6 table-bordered">
        <h4 class="text-center">Indoor</h4>
        <br />
        <div class="pad-left-20">Eateries</div>
        <div class="pad-left-20">Program</div>
    </div>
    
    
    <div class="col-md-6 table-bordered">
        <h4 class="text-center">Outdoor</h4>
        <br />
        <div class="pad-left-20">Hiking</div>
        <div class="pad-left-20">Photography</div>
    </div>
    @*<h5 class="text-center"><a href="javascript:restaurant_menu('Eatery_Menu', ViewData.ModelMetadata.Properties.cheddarsMenu);">Cheddars</a></h5>*@
</div>
<div class="row">
    <div class="col-md-12" id="Eatery_Menu">

    </div>
</div>

