<table id="gamePlayInstructions" class="table-responsive table-bordered table-striped level-instruction-table">
    <thead>
        <tr>
            <td><strong>Game Play Instructions</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                The goal of this "game" is for individuals to solve as many math problems as possible in 5 minutes (300 seconds).<br />
                It is, of course, not possible to restrict calculators but I do encourage people to challenge themselves
                to use their great built-in computer, the human brain (on paper if needed, of course). <br />
            </td>
        </tr>
        <tr>
            <td>
                Once a level is selected, this will be the level for the duration of the 5 minutes. <br />
                If another level is desired, there is a "Reset Game" button at the bottom of the page.<br />
                I have attempted to adjust scoring to the difficulty level of both level selection and
                mathematical operation selected.
            </td>
        </tr>
        <tr>
            <td>
                <strong>When a game has ended, click or tap the "Reset Game" button to start a new game.</strong>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>
                Three consecutive incorrect answers on one problem results in a 5 point score reduction with a minimum score of 0.<br />
                In this event, a calculation mode must be selected for another problem.
            </td>
        </tr>
    </tfoot>
</table>
