<div class="col-md-5" style="text-align:center">
    <div id="resume_window" class="hidden-md hidden-sm resume-initial text-center">
        <object id="embed-resume" class="text-center" type="application/pdf" data="/Doc_Resources/Ben_Pisters_Resume.pdf" width="800" height="800"></object>
    </div>
</div>
