
@{
    ViewBag.Title = "Balloons";
}
<body class="balloon-game-background">
    <div class="col-md-2 no-margin" style="height:50px">
        <button id="startBalloonGame" class="btn btn-success">Begin Game</button>
    </div>

    <div class="col-md-10 no-margin">
        <canvas id="balloonCanvas" class="no-margin" width="1100" height="700"></canvas>
    </div>
</body>


